# This workflow runs every weekday at 15:00 UTC (8AM PDT)
name: Daily CI

on:
  schedule:
    - cron: "00 15 * * 1-5"

jobs:
  daily-ci-go-v3-test:
      uses: ./.github/workflows/ci_test_go_v3.yml
      secrets:
        CI_AWS_ACCOUNT_ID: ${{ secrets.CI_AWS_ACCOUNT_ID }}
  daily-ci-go-v4-test:
      uses: ./.github/workflows/ci_test_go_v4.yml
      secrets:
        CI_AWS_ACCOUNT_ID: ${{ secrets.CI_AWS_ACCOUNT_ID }}
  daily-ci-go-migration-examples-test:
      uses: ./.github/workflows/ci_test_examples.yml
      secrets:
        CI_AWS_ACCOUNT_ID: ${{ secrets.CI_AWS_ACCOUNT_ID }}
