# This workflow runs every weekday at 15:00 UTC (8AM PDT)
name: Daily CI
permissions:
  contents: read

on:
  schedule:
    - cron: "00 15 * * 1-5"
  pull_request:
    paths:
      .github/workflows/daily_ci.yml
jobs:
  daily-ci-go-v3-test:
      uses: ./.github/workflows/ci_test_go_v3.yml
      secrets:
        CI_AWS_ACCOUNT_ID: ${{ secrets.CI_AWS_ACCOUNT_ID }}
  daily-ci-go-v4-test:
      uses: ./.github/workflows/ci_test_go_v4.yml
      secrets:
        CI_AWS_ACCOUNT_ID: ${{ secrets.CI_AWS_ACCOUNT_ID }}
  daily-ci-go-migration-examples-test:
      uses: ./.github/workflows/ci_test_examples.yml
      secrets:
        CI_AWS_ACCOUNT_ID: ${{ secrets.CI_AWS_ACCOUNT_ID }}
  notify:
    needs:
      [
        daily-ci-go-v3-test,
        daily-ci-go-v4-test,
        daily-ci-go-migration-examples-test,
      ]
    if: ${{ failure() }}
    uses: aws/aws-cryptographic-material-providers-library/.github/workflows/slack-notification.yml@main
    with:
      message: "Daily CI failed on `${{ github.repository }}`. View run: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
    secrets:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL_CI }}
